.thongtincanhan {
    width: 100%;
    min-height: 500px;
}

.thongtincanhan-title {
    height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: rgb(184, 19, 19);
    padding-top: 20px;
}

.thongtincanhan-table {
    text-align: center;
    margin-left: 30px;
    margin-top: 40px;
}

.thongtincanhan-table th,
.thongtincanhan-table td {
    text-align: left;
    padding: 8px;
    opacity: 0.7;
}

table {
    border-collapse: collapse;
}