.thongtincanhan {
    width: 100%;
    min-height: 500px;
}

.thongtincanhan-title {
    height: 40px;
    margin-left: 16px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(184, 19, 19);
    padding-top: 20px;
}

.thongtincanhan-table {
    margin-left: 5px;
    margin-top: 40px;
}

.thongtincanhan-table th,
.thongtincanhan-table td {
    text-align: left;
    padding: 2px;
    opacity: 0.7;
}

table {
    border-collapse: collapse;
    outline-style: none;
}

.thongtincanhan-content {
    width: 100%;
}

.imageInfo {
    width: 80%;
    height: 200px;
    margin-top: 50px;
    border-image-source: inherit;
    border: 1px;
    border-style: dotted;
    text-align: center;
}

.outlined-basic {
    padding: 8px;
}

.quanlysinhvien-top {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.quanlysinhvien-bt {
    width: 30%;
    flex: 1;
    text-align: center;
    height: 30px;
    padding-top: 7px;
    line-height: center;
}

.quanlysinhvien-bt:hover {
    transition: 1s;
}

.quanlysinhvien-content {
    width: 100%;
    margin-top: 30px;
}

.quanlysinhvien-content-top {
    width: 100%;
}

.table-danhsachtaikhoan {
    margin-top: 25px;
}

.table-danhsachtaikhoan th,
.table-danhsachtaikhoan td {
    font-size: 13px;
    border: 1px solid burlywood;
    text-align: center;
    padding: 3px;
}

.table-thietlap {
    width: 579px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.thietlap-left {
    width: 30%;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 5px;
}

.thietlap-right {
    width: 60%;
    text-align: center;
    flex: 1;
    margin-left: 120px;
}

.chitiet {
    cursor: pointer;
}

.page_404 {
    min-height: 380px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
}